.todotask{
    background-color: #FFF;
    list-style: none;
    padding: 12px 5px 0 5px;
}

.todotask__description{
    padding-left: 10px;
}

.todotask--state-created .todotask__description{
    color: #666;
}

.todotask--state-inprogress .todotask__description{
    font-weight: bold;
}

.todotask--state-done .todotask__description{
    color: green;
    text-decoration: line-through;
}

.todotask:not(:last-of-type){
    border-bottom: 1px solid #CCC;
}

.todotask__buttons, .todotask__description{
    float: left;
    margin-bottom: 11px;
}

.todotask button{
    border: none;
    background: none;
    display: inline-block;
    outline: none;
    padding: 0 6px 0 0;
}

.todotask__close{
    float: right;
    font-size: 18px;
}

.todotask__state:not(.todotask__state--active) .icon{
    color: #ccc;
}

.todotask .icon-radio-unchecked{
    color: #dc3545;
    padding-left: 7px;
}

.todotask .icon-spinner6{
    color: #2f2fae;
}

.todotask .icon-checkmark{
    color: green;
    padding-left: 2px;
}